.router-link-exact-active {
  @apply underline text-blue-700 font-medium;
}

@font-face {
  font-family: RickAndMorty;
  src: url('fonts/shlop-rg.woff2');
}

@font-face {
  font-family: RickAndMorty2;
  src: url('fonts/get-schwifty.woff2');
}

.navbar {
  font-family: RickAndMorty2;
  letter-spacing: 3px;
}

h1, h2 {
  font-family: RickAndMorty;
  letter-spacing: 3px;
}
