.router-link-exact-active {
  @apply underline text-blue-700 font-medium;
}

@font-face {
  font-family: RickAndMorty;
  src: url('public/shlop-rg.ttf');
}

@font-face {
  font-family: RickAndMorty2;
  src: url('public/get-schwifty.ttf');
}

.navbar {
  font-family: RickAndMorty2;
  letter-spacing: 3px;
}

h1, h2 {
  font-family: RickAndMorty;
  letter-spacing: 3px;
}
